
.vs\*

bunitu install\bin\*

bunitu install\obj\*

.vs/*
bunitu install/bin/*

bunitu install/obj/*


AskholeLib/bin/*

AskholeLib/obj/*

AskholeLib\bin\*

AskholeLib\obj\*

Database/bin/*
Database/obj/*
Database/obj/Debug/Database.pdb
Database/obj/Debug/Database.dll
Database/obj/Debug/Database.csprojResolveAssemblyReference.cache
Database/obj/Debug/Database.csproj.CoreCompileInputs.cache
Database/bin/Debug/Database.dll
