<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />-->
    <link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
    <!--
    <script src="/static/scripts/modernizr-2.6.2.js"></script>-->
</head>

<body>
    <div class="container text-center mb-4 mt-3">
      <img class="mb-4" src="https://i.imgur.com/qNXtFA9.png" alt="" width="150" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Askhole</h1>
      </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <!--<hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>-->
    </div>

    <!--<script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>-->
    {% block scripts %}{% endblock %}

</body>
</html>
